#snake-game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2rem 5%;
  background-color: var(--w);
}
#score-board {
  margin: 0.5rem auto;
  font-size: 1.5rem;
  color: var(--g);
}
#game-area {
  border: 5px solid var(--g);
  background-color: #c6c6c6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#start-button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: var(--g);
  color: var(--w);
  border: none;
  margin-top: 1rem;
}
